html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    display: flex;
    gap: 32px;
}

.container {
    width: 90vw; /* Define a largura máxima para o container que inclui Blockly */
    height: 60vh; /* Define a altura máxima para o container */
    display: flex; /* Utiliza flex para organizar o conteúdo */
    flex-direction: column; /* Organiza os filhos verticalmente */
    align-items: left; /* Centraliza os filhos horizontalmente */
    margin-top: 1vh; /* Adiciona espaço no topo do container */
    margin-left: 1vh; /* Adiciona espaço no topo do container */
    justify-content: start; /* Alinha os filhos no topo do container */
    position: absolute; /* Estabelece um contexto de posicionamento */
}

.instructions-container {
    text-align: center;
    padding: 20px;
}

.instructions-img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    overflow-y: scroll;
    display: block;
    margin: 0 auto 20px;
    max-height: 1000px; /* Ajuste conforme necessário */
}

.start-level-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    justify-content: space-around; /* Distribui o espaço entre os botões */
    padding: 10px; /* Adiciona um pouco de espaço ao redor dos botões */
  }
  
  .button {
    display: flex;
    width: 222px;
    height: 56px;
    padding: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    flex-shrink: 1;
    border-radius: 10px;
    background: var(--base-black, #e99d9d);
    color: #FFF;

    text-align: center;
    /* PJ/Bold/18px */
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
  }
  .dropdown {
    padding: 10px 20px; /* Ajusta o tamanho dos botões */
    margin: 0 5px; /* Adiciona uma margem entre os botões */
    cursor: pointer; /* Muda o cursor para indicar que são clicáveis */
    background-color: #f0f0f0; /* Cor de fundo */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Borda arredondada */
    z-index: 10;
  }
#tituloDiv {
    position: absolute; /* Posiciona o título de forma absoluta */
    top: 0; /* Alinha o título ao topo do container */
    width: 100%; /* Faz o título ocupar a largura total do container */
    text-align: center; /* Centraliza o texto do título */
}

#blocklyDiv {
    flex-grow: 1; /* Permite que o Blockly cresça para ocupar o espaço disponível */
    border: 1px solid #888;
    border-radius: 4px;
    box-sizing: border-box;
    position:flex;
    width: 90vw; /* Define a largura máxima para o container que inclui Blockly */
    height: 70vh; /* Define a altura máxima para o container */
    z-index: 1;
}

.pushable {
    display:flexbox;
    gap: 1px;
    position: relative;
    background: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    outline-color: deeppink;
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 5px;  /* Adiciona espaço à direita de cada botão */
  }
  #app { /* Supondo que appContainer tenha o ID 'app' */
    display:flex;
    flex-direction: column; /* ou column para vertical */
    gap: 10px;  /* Define o espaço entre os itens do flexbox */
    padding-top: 20px;  /* Adiciona espaço no topo do contêiner */
}

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(226, 25%, 69%);
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(
      to right,
      hsl(248, 39%, 39%) 0%,
      hsl(248, 29%, 20%) 8%,
      hsl(248, 39%, 39%) 92%,
      hsl(248, 39%, 29%) 100%
    );
  }
  
  .front {
    display: block;
    position: relative;
    border-radius: 8px;
    background: hsl(248, 53%, 58%);
    padding: 16px 32px;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    transform: translateY(-6px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }
  
  .pushable:hover {
    filter: brightness(120%);
  }
  
  .pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }
  
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }

  /* Return */
  .return {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
    transform: rotate(-90deg); /* Adiciona rotação anti-horária de 90 graus */
  
  }
  
  .svgIcon path {
    fill: var(--svgIcon-fill-color);
  }
  
  .return:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }
  
  .return:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateX(-800%);
  }
  
  .return::before {
    position: absolute;
    bottom: -20px;
    content: "Voltar";
    color: var(--before-text-color);
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .return:hover::before {
    font-size: 15px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  
  /*                  */
  .shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color:var(--shadow-color-font);
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: var(--shadow-color);
    box-shadow: 0 0 25px var(--shadow-color);
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px var(--shadow-color),
                0 0 25px var(--shadow-color),
                0 0 50px var(--shadow-color),
                0 0 100px var(--shadow-color);
  }


  .topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  
  @media (max-width: 600px) { /* Para telas menores que 600px */
    .topo {
      padding: 5px; /* Menor padding */
      display:contents;
      font-size: 0.8em; /* Tamanho de fonte reduzido */
      gap: 10 px;
    }
    .topo .button .return .pushable { /* Supondo que você tem botões ou títulos com essas classes */
      padding: 50px 10px; /* Reduz o tamanho do padding nos botões */
      font-size: 0.8em; /* Reduz o tamanho da fonte */
      width: 10 px;
    }
  }

