body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#blocklyDiv {
    width: 80vw; /* Ajusta a largura para 80% da largura da viewport */
    height: 80vh; /* Ajusta a altura para 80% da altura da viewport */
    max-width: 600px; /* Máximo de largura para evitar que fique muito grande em telas grandes */
    max-height: 480px; /* Máximo de altura para evitar que fique muito grande em telas grandes */
    border: 1px solid #888;
    border-radius: 4px;
}
